name: Release

on:
  push:
    branches: ["main"]

permissions:
  contents: write

jobs:
  bump-build-release:
    if: ${{ !contains(github.event.head_commit.message, 'chore(release):') }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
            node-version: '24'

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Validate Project
        run: bun run check

      - name: Release
        run: bun x semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Release Artifact
        uses: actions/upload-artifact@v4
        with:
          name: wawa-extension-zip
          path: .output/*.zip
          if-no-files-found: ignore
